/* general styles */
html, body {
  height: 100%;
  width: 100%;
}
/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section .backgroupd img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.glyphicon{
  color: white;
}

.navbutton {
  width: 125px;
}

.mapmarker {
  color: black;
}

/* additional sections */
#home {
  background: url(/pics/mountains.PNG) no-repeat center center fixed; 
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  min-height: 75%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro {
  padding-top: 5px;
}

#info {
  background-color: #306d9f;
  color: #ffffff;
}
#info .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#story {
  background: url(/pics/mountain1.jpg) no-repeat center center fixed; 
  display: table;
  height: 400px;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#agenda {
  background-color: #375a7f;
}

#agendacontent {
  background: url(/pics/winery.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// #agendacontent .panel {
//   opacity: 0.85;
// }

#map_header {
  background-color: #e74c3c;
}

#google_map {
  height: 600px;
}

#accomodations {
  background-color: #00bc8c;
}

#accomodationscontent {
  background: url(/pics/livermore.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#activities {
  background-color: #3498db;
}

#activitiescontent {
  background: url(/pics/sfbridge.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bparty {
  background-color: #f39c12;
}

#bpartycontent {
  background: url(/pics/mountain2.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#registy {
  background-color: #e74c3c;
}

#registycontent {
  background: url(/pics/mountain2.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#photos {
  background-color: #464545;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}